body {
 width: 1440px;
 height: 15530px;
 background: white;
 display: block;
}
.first {
  margin-top: 138px;
}
h1 {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  color: #FFFFFF;
  margin-top: -352px;
  margin-left: 605px;
}
.second {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  color: #FFFFFF;
  margin-top: -58px;
  margin-left: 303px;
}
.third {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  color: #FFFFFF;
  margin-top: -40px;
  margin-left: 989px;
}
.four {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-top: 450px;
  margin-left: 362px;
}
.five {
  margin-top: 97px;
  margin-left: 192px;
}
.six {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-left: 417px;
  margin-top: 144px;
}
.seven {
margin-left: -100px;
}
.seven2 {
  width: 1158px;
  height: 1077px;
  background: white;
  margin-top: 100px;
  border: 8px solid black;
  margin-left: 150px;
}
.seven3 {
  width: 1158px;
  height: 81px;
  background: #7CA4E2;
  border: 8px solid black;
  margin-top: -1093px;
  margin-left: 150px;
}
.seven21 {
  width: 35px;
  height: 35px;
  background: #7CA4E2;
  margin-top: -70px;
  border: 4px solid black;
  border-radius: 100%;
  margin-left: 183px;
  z-index: 2;
}
.seven22 {
  width: 54px;
  height: 4px;
  background: black;
  margin-top: -23px;
  margin-left: 178px;
  z-index: 2;
}
.seven23 {
  margin-top: -18px;
  margin-left: 254px;
  z-index: 2;
}
.seven24 {
  margin-top: -34px;
  margin-left: 1203px;
  z-index: 2;
}
.seven25 {
  margin-top: 100px;
  margin-left: 221px;
  z-index: 2;
}
.seven26 {
  width: 1158px;
  height: 81px;
  background: #7CA4E2;
  border: 8px solid black;
  margin-top: 25px;
  margin-left: 150px;
}
.seven27 {
  margin-top: -160px;
  margin-left: 49px;
  z-index: 2;
}
.seven10 {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-top: 134px;
  margin-left: 222px;
}
.nine {
  margin-top: 97px;
  margin-left: 137px;
}
.nine1 {
  margin-top: 97px;
  margin-left: 222px;
}
.nine2 {
  margin-top: 97px;
  margin-left: 177px;
}
.ten {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-left: 318px;
  margin-top: 144px;
}
.eleven {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-left: 262px;
  margin-top: 144px;
}
.eleven1 {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-left: 260px;
  margin-top: 644px;
}
.twelve {
  margin-top: 97px;
  margin-left: 198px;
}
.thirteen {
  width: 1440px;
  height: 8px;
  background: black;
  margin-top: 206px;
}
.thirteen1 {
  width: 1440px;
  height: 8px;
  background: black;
  margin-top: 42px;
}
.thirteen2 {
  width: 1440px;
  height: 8px;
  background: black;
  margin-top: 517px;
}
.thirteen3 {
  width: 1440px;
  height: 8px;
  background: black;
  margin-top: 42px;
}
.thirteen4 {
  width: 137px;
  height: 845px;
  background: white;
  border: 8px solid black;
  margin-top: -740px;
  margin-left: 99px;
}
.thirteen5 {
  width: 137px;
  height: 845px;
  background: #7CA4E2;
  border: 8px solid black;
  margin-top: -861px;
  margin-left: 317px;
}
.thirteen6 {
  width: 137px;
  height: 845px;
  background: #FA4A20;
  border: 8px solid black;
  margin-top: -861px;
  margin-left: 533px;
}
.thirteen7 {
  width: 137px;
  height: 845px;
  background: white;
  border: 8px solid black;
  margin-top: -861px;
  margin-left: 758px;
}
.thirteen8 {
  width: 137px;
  height: 845px;
  background: #7CA4E2;
  border: 8px solid black;
  margin-top: -861px;
  margin-left: 976px;
}
.thirteen9 {
  width: 137px;
  height: 845px;
  background: #FA4A20;
  border: 8px solid black;
  margin-top: -861px;
  margin-left: 1193px;
}
.thirteen10 {
  font-family: "BitumBold";
  font-style: italic;
  font-weight: 700;
  font-size: 120px;
  color: #7CA4E2;
  margin-left: -1088px;
  margin-top: 430px;
  transform: rotate(90deg);
}
.thirteen11 {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  color: white;
  margin-left: -658px;
  margin-top: -320px;
  transform: rotate(90deg);
}
.thirteen12 {
  margin-left: 566px;
  margin-top: -1100px;
}
.thirteen13 {
  margin-left: 789px;
  margin-top: -655px;
}
.thirteen14 {
  font-family: "BitumLightItalic";
  font-style: italic;
  font-weight: normal;
  font-size: 120px;
  color: white;
  margin-left: 666px;
  margin-top: -320px;
  transform: rotate(90deg);
}
.thirteen15 {
  font-family: "BitumLightItalic";
  font-style: normal;
  font-weight: 300;
  font-size: 120px;
  color: white;
  margin-left: 1096px;
  margin-top: -340px;
  transform: rotate(90deg);
}
.fourteen {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-left: 319px;
  margin-top: 20px;
}
.fifteen {
  margin-top: 97px;
  margin-left: 97px;
}
.sixteen {
  margin-top: -745px;
  margin-left: 777px;
}
.seventeen {
  margin-top: 97px;
  margin-left: 97px;
}
.eighteen {
  margin-top: -618px;
  margin-left: 525px;
}
.nineteen {
  margin-top: -618px;
  margin-left: 965px;
}
.twenty {
  margin-top: 30px;
  margin-left: 94px;
}
.twenty1 {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-top: -350px;
  margin-left: 455px;
}
.twenty2 {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-top: 23px;
  margin-left: 455px;
}
.twenty3 {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-top: 25px;
  margin-left: 455px;
}
.twentyone {
  margin-top: 177px;
  margin-left: 94px;
}
.twentytwo {
  margin-top: -262px;
  margin-left: 424px;
}
.twentythree {
  margin-top: -262px;
  margin-left: 764px;
}
.twentyfour {
  margin-top: -262px;
  margin-left: 1098px;
}
.twentyfive {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 158px;
  margin-left: 132px;
  margin-top: 87px;
}
.twentysix {
  margin-top: 87px;
  margin-left: 95px;
}
.twentyseven {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  margin-left: 322px;
  margin-top: -177px;
}
.twentyeight {
  margin-top: 197px;
  margin-left: 104px;
}
.twentyeight2 {
  width: 575px;
  height: 590px;
  background: #7CA4E2;
  border: 8px solid black;
  margin-top: -605px;
  margin-left: 758px;
}
.twentyeight3 {
  width: 490px;
  height: 492px;
  background: #7CA4E2;
  border: 23px solid white;
  margin-top: -577px;
  margin-left: 786px;
}
.twentyeight4 {
  margin-top: -532px;
  margin-left: 837px;
}
.twentynine {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  margin-left: 242px;
  margin-top: -236px;
}
.thirty {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  margin-left: 322px;
  margin-top: 27px;
}
.thirtyone {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  margin-left: 265px;
  margin-top: 27px;
}
.thirtytwo {
  margin-top: -528px;
  margin-left: 630px;
}
.thirtythree {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: white;
  margin-left: 872px;
  margin-top: 430px;
}
.thirtyfour {
  width: 1440px;
  height: 8px;
  background: black;
  margin-top: 230px;
}
.thirtyfour1 {
  width: 24px;
  height: 109px;
  background: black;
  margin-left: 266px;
}
.thirtyfour2 {
  width: 24px;
  height: 109px;
  background: black;
  margin-left: 1149px;
  margin-top: -110px;
}
.thirtyfour3 {
  width: 627px;
  height: 35px;
  background: #7CA4E2;
  margin-left: 104px;
  border: 8px solid black;
}
.thirtyfour4 {
  width: 617px;
  height: 35px;
  background: #FA4A20;
  margin-left: 711px;
  border: 8px solid black;
  margin-top: -51px;
}
.thirtyfour5 {
  width: 1224px;
  height: 457px;
  background: white;
  margin-left: 104px;
  border: 8px solid black;
  margin-top: -8px;
}
.thirtyfour6 {
  width: 8px;
  height: 464px;
  background: black;
  margin-top: -468px;
  margin-left: 711px;
}
.victorialine  {
  margin-top: -407px;
  margin-left: 159px;
}
.bakerlooline  {
  margin-top: -40px;
  margin-left: 971px;
}
.southboundplatform  {
  margin-top: 60px;
  margin-left: 159px;
}
.northboundplatform{
  margin-top: -165px;
  margin-left: 851px;
}
.arrow {
  margin-top: 40px;
  margin-left: 159px;
}
.arrow2 {
  margin-top: -60px;
  margin-left: 1201px;
}
.thirtyfive {
  margin-top: 147px;
  margin-left: 127px;
}
.thirtysix {
  width: 1440px;
  height: 8px;
  background: black;
  margin-top: 90px;
}
.thirtyseven {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  margin-left: 66px;
  margin-top: 100px;
}
.thirtyeight {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  margin-left: 66px;
  margin-top: 30px;
}
.thirtynine {
  margin-top: -150px;
  margin-left: 956px;
}
