.first {
  margin-top: 100px;
  margin-left: 80px;
}
h1 {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  color: #FFFFFF;
  margin-top: -462px;
  margin-left: 845px;
}
.second {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  margin-top: -76px;
  margin-left: 452px;
}
.third {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  margin-top: -47px;
  margin-left: 1362px;
}
.four {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  margin-top: 597px;
  margin-left: 522px;
}
.five {
  margin-top: 97px;
  margin-left: 282px;
}
.six {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  margin-left: 622px;
  margin-top: 194px;
}
.seven {
margin-left: -100px;
}
.seven1 {
margin-right: -2000px;

}
.eight {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  margin-left: 372px;
  margin-top: 194px;
}
.nine {
  margin-top: 97px;
  margin-left: 182px;
}
.nine1 {
  margin-top: 97px;
  margin-left: 262px;
}
.nine2 {
  margin-top: 97px;
  margin-left: 242px;
}
.ten {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  margin-left: 492px;
  margin-top: 194px;
}
.eleven {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  margin-left: 412px;
  margin-top: 194px;
}
.twelve {
  margin-top: 97px;
  margin-left: 268px;
}
.thirteen {
  margin-top: 97px;
  margin-left: 2px;
}
.fourteen {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  margin-left: 472px;
  margin-top: 20px;
}
.fifteen {
  margin-top: 97px;
  margin-left: 97px;
}
.sixteen {
  margin-top: -992px;
  margin-left: 1057px;
}
.seventeen {
  margin-top: 97px;
  margin-left: 97px;
}
.eighteen {
  margin-top: -818px;
  margin-left: 680px;
}
.nineteen {
  margin-top: -818px;
  margin-left: 1280px;
}
.twenty {
  margin-top: 97px;
  margin-left: 104px;
}
.twentyone {
  margin-top: 97px;
  margin-left: 104px;
}
.twentytwo {
  margin-top: -344px;
  margin-left: 544px;
}
.twentythree {
  margin-top: -344px;
  margin-left: 994px;
}
.twentyfour {
  margin-top: -344px;
  margin-left: 1443px;
}
.twentyfive {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 158px;
  margin-left: 352px;
  margin-top: 97px;
}
.twentysix {
  margin-top: 97px;
  margin-left: 104px;
}
.twentyseven {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  margin-left: 392px;
  margin-top: -217px;
}
.twentyeight {
  margin-top: 197px;
  margin-left: 104px;
}
.twentynine {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  margin-left: 232px;
  margin-top: -447px;
}
.thirty {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  margin-left: 352px;
  margin-top: -7px;
}
.thirtyone {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  margin-left: 262px;
  margin-top: -7px;
}
.thirtytwo {
  margin-top: -724px;
  margin-left: 830px;
}
.thirtythree {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: #FFFFFF;
  margin-left: 1152px;
  margin-top: -257px;
}
.thirtyfour {
  margin-top: 267px;
  margin-left: -20px;
}
.thirtyfive {
  margin-top: 147px;
  margin-left: 157px;
}
.thirtysix {
  margin-top: 197px;
}
.thirtyseven {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  margin-left: 97px;
  margin-top: 157px;
}
.thirtyeight {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  margin-left: 97px;
  margin-top: 27px;
}
.thirtynine {
  margin-top: -180px;
  margin-left: 1237px;
}
