body {
 width: 1440px;
 height: 15760px;
 background: white;
 display: block;
}
.first {
  margin-top: 138px;
}
.redcircle {
  position: absolute;
  width: 435px;
  height: 435px;
  background: #FA4A20;
  border: 11px solid black;
  border-radius: 100%;
  margin-top: -547px;
  margin-left: 490px;
}
.whitecircle {
  position: absolute;
  width: 297px;
  height: 297px;
  background: white;
  border-radius: 100%;
  margin-top: -464px;
  margin-left: 568px;
}
.bluerectangle {
  position: absolute;
  width: 458px;
  height: 126px;
  background: #7CA4E2;
  border: 8px solid black;
  margin-top: -384px;
  margin-left: 481px;
}
.bitum {
  position: absolute;
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  color: #FFFFFF;
  margin-top: -352px;
  margin-left: 600px;
}
.second {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  color: #FFFFFF;
  margin-top: -335px;
  margin-left: 303px;
}
.third {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  color: #FFFFFF;
  margin-top: -39px;
  margin-left: 989px;
}
.four {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-top: 450px;
  margin-left: 362px;
}
.five {
  position: absolute;
  width: 650px;
  height: 415px;
  background: #FA4A20;
  border: 8px solid black;
  border-radius: 5%;
  margin-top: 90px;
  margin-left: 600px;
}
.whiterectangle {
  position: absolute;
  width: 650px;
  height: 250px;
  background: white;
  border: 8px solid black;
  margin-top: 172px;
  margin-left: 600px;
}
.redcircle2{
  position: absolute;
  width: 35px;
  height: 35px;
  background: #FA4A20;
  border: 4px solid black;
  border-radius: 100%;
  margin-top: 115px;
  margin-left: 643px;
}
.line{
  position: absolute;
  width: 58px;
  height: 4px;
  background: black;
  margin-top: 135px;
  margin-left: 636px;
}
.daytravelcard{
  position: absolute;
  margin-top: 127px;
  margin-left: 716px;
}
.grotesk{
  position: absolute;
  margin-top: 220px;
  margin-left: 650px;
}
.madein{
  position: absolute;
  margin-top: 375px;
  margin-left: 1048px;
}
.designer{
  position: absolute;
  margin-top: 465px;
  margin-left: 857px;
}
.redrectangle {
  position: absolute;
  width: 650px;
  height: 415px;
  background: #FA4A20;
  border: 8px solid black;
  border-radius: 5%;
  margin-top: 360px;
  margin-left: 170px;
}
.whiterectangle2 {
  position: absolute;
  width: 650px;
  height: 250px;
  background: white;
  border: 8px solid black;
  margin-top: 442px;
  margin-left: 170px;
}
.redcircle3{
  position: absolute;
  width: 35px;
  height: 35px;
  background: #FA4A20;
  border: 4px solid black;
  border-radius: 100%;
  margin-top: 385px;
  margin-left: 210px;
}
.line2{
  position: absolute;
  width: 58px;
  height: 4px;
  background: black;
  margin-top: 405px;
  margin-left: 203px;
}
.daytravelcard2{
  position: absolute;
  margin-top: 395px;
  margin-left: 282px;
}
.module{
  position: absolute;
  margin-top: 490px;
  margin-left: 217px;
}
.madein2{
  position: absolute;
  margin-top: 648px;
  margin-left: 616px;
}
.dollars{
  position: absolute;
  margin-top: 648px;
  margin-left: 218px;
}
.designer2{
  position: absolute;
  margin-top: 736px;
  margin-left: 390px;
}
.logo{
  position: absolute;
  margin-top: 723px;
  margin-left: 206px;
}
.six {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-left: 417px;
  margin-top: 930px;
}
.seven {
 position: absolute;
 margin-top: 97px;
 margin-left: -100px;
}
.circlem {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #7CA4E2;
  margin-top: 350px;
  border-radius: 100%;
  border: 8px solid black;
  margin-left: 83px;
}
.m {
  position: absolute;
  margin-top: 90px;
  margin-left: 0px;
}
.bordercircle {
  position: absolute;
  width: 156px;
  height: 156px;
  background: #FFFFFF;
  margin-top: 170px;
  border-radius: 100%;
  border: 8px solid black;
  margin-left: 425px;
}
.borderline {
  position: absolute;
  width: 165px;
  height: 8px;
  background: black;
  margin-top: 251px;
  margin-left: 425px;
}
.borderline2 {
  position: absolute;
  width: 165px;
  height: 8px;
  background: black;
  margin-top: 251px;
  margin-left: 428px;
  transform: rotate(90deg);
}
.s {
  position: absolute;
  margin-top: 18px;
  margin-left: 620px;
}
.oval {
  position: absolute;
  width: 130px;
  height: 70px;
  background: #7CA4E2;
  border: 8px solid black;
  margin-top: 255px;
  margin-left: 855px;
  border-radius: 100%;
}
.window {
  position: absolute;
  width: 171px;
  height: 167px;
  background: #FFFFFF;
  border: 8px solid black;
  margin-top: 527px;
  margin-left: 100px;
  border-radius: 15%;
}
.borderline3 {
  position: absolute;
  width: 180px;
  height: 8px;
  background: black;
  margin-top: 618px;
  margin-left: 105px;
}
.borderline4 {
  position: absolute;
  width: 175px;
  height: 8px;
  background: black;
  margin-top: 613px;
  margin-left: 105px;
  transform: rotate(90deg);
}
.a {
  position: absolute;
  margin-top: 315px;
  margin-left: 380px;
}
.circlea {
  position: absolute;
  width: 95px;
  height: 95px;
  margin-top: 537px;
  border-radius: 100%;
  border: 8px solid black;
  margin-left: 439px;
}
.window2 {
  position: absolute;
  width: 171px;
  height: 167px;
  background: #FFFFFF;
  border: 8px solid black;
  margin-top: 527px;
  margin-left: 753px;
  border-radius: 15%;
}
.borderline5 {
  position: absolute;
  width: 180px;
  height: 8px;
  background: black;
  margin-top: 617px;
  margin-left: 755px;
}
.borderline6 {
  position: absolute;
  width: 175px;
  height: 8px;
  background: black;
  margin-top: 613px;
  margin-left: 757px;
  transform: rotate(90deg);
}
.wheel {
  position: absolute;
  width: 171px;
  height: 171px;
  background: black;
  margin-top: 794px;
  border-radius: 100%;
  margin-left: -20px;
}
.whitewheel {
  position: absolute;
  width: 114px;
  height: 114px;
  background: white;
  margin-top: 821px;
  border-radius: 100%;
  margin-left: 8px;
}
.blackwheel {
  position: absolute;
  width: 42px;
  height: 42px;
  background: black;
  margin-top: 854px;
  border-radius: 100%;
  margin-left: 43px;
}
.wheel2 {
  position: absolute;
  width: 171px;
  height: 171px;
  background: black;
  margin-top: 794px;
  border-radius: 100%;
  margin-left: 200px;
}
.whitewheel2 {
  position: absolute;
  width: 114px;
  height: 114px;
  background: white;
  margin-top: 821px;
  border-radius: 100%;
  margin-left: 227px;
}
.blackwheel2 {
  position: absolute;
  width: 42px;
  height: 42px;
  background: black;
  margin-top: 854px;
  border-radius: 100%;
  margin-left: 263px;
}
.wheel3 {
  position: absolute;
  width: 171px;
  height: 171px;
  background: black;
  margin-top: 794px;
  border-radius: 100%;
  margin-left: 420px;
}
.whitewheel3 {
  position: absolute;
  width: 114px;
  height: 114px;
  background: white;
  margin-top: 821px;
  border-radius: 100%;
  margin-left: 449px;
}
.blackwheel3 {
  position: absolute;
  width: 42px;
  height: 42px;
  background: black;
  margin-top: 854px;
  border-radius: 100%;
  margin-left: 484px;
}
.wheel4 {
  position: absolute;
  width: 171px;
  height: 171px;
  background: black;
  margin-top: 794px;
  border-radius: 100%;
  margin-left: 640px;
}
.whitewheel4 {
  position: absolute;
  width: 114px;
  height: 114px;
  background: white;
  margin-top: 821px;
  border-radius: 100%;
  margin-left: 669px;
}
.blackwheel4 {
  position: absolute;
  width: 42px;
  height: 42px;
  background: black;
  margin-top: 854px;
  border-radius: 100%;
  margin-left: 704px;
}
.wheel5 {
  position: absolute;
  width: 171px;
  height: 171px;
  background: black;
  margin-top: 794px;
  border-radius: 100%;
  margin-left: 860px;
}
.whitewheel5 {
  position: absolute;
  width: 114px;
  height: 114px;
  background: white;
  margin-top: 821px;
  border-radius: 100%;
  margin-left: 889px;
}
.blackwheel5 {
  position: absolute;
  width: 42px;
  height: 42px;
  background: black;
  margin-top: 854px;
  border-radius: 100%;
  margin-left: 925px;
}
.borderbottom {
  position: absolute;
  width: 93px;
  height: 8px;
  background: black;
  margin-top: 962px;
}
.borderbottom2 {
  position: absolute;
  width: 93px;
  height: 8px;
  background: black;
  margin-top: 962px;
  margin-left: 142px;
}
.borderbottom3 {
  position: absolute;
  width: 93px;
  height: 8px;
  background: black;
  margin-top: 962px;
  margin-left: 285px;
}
.borderbottom4 {
  position: absolute;
  width: 93px;
  height: 8px;
  background: black;
  margin-top: 962px;
  margin-left: 438px;
}
.borderbottom5 {
  position: absolute;
  width: 93px;
  height: 8px;
  background: black;
  margin-top: 962px;
  margin-left: 593px;
}
.borderbottom6 {
  position: absolute;
  width: 93px;
  height: 8px;
  background: black;
  margin-top: 962px;
  margin-left: 744px;
}
.borderbottom7 {
  position: absolute;
  width: 93px;
  height: 8px;
  background: black;
  margin-top: 962px;
  margin-left: 897px;
}
.borderbottom8 {
  position: absolute;
  width: 93px;
  height: 8px;
  background: black;
  margin-top: 962px;
  margin-left: 1061px;
}
.borderbottom9 {
  position: absolute;
  width: 93px;
  height: 8px;
  background: black;
  margin-top: 962px;
  margin-left: 1226px;
}
.borderbottom10 {
  position: absolute;
  width: 58px;
  height: 8px;
  background: black;
  margin-top: 962px;
  margin-left: 1382px;
}
.redwagon {
  position: absolute;
  margin-top: 1055px;
  margin-left: 323px;
}
.z {
  position: absolute;
  margin-top: 990px;
  margin-left: 405px;
}
.oval2 {
  position: absolute;
  width: 106px;
  height: 90px;
  border: 8px solid black;
  border-radius: 100%;
  margin-top: 1169px;
  margin-left: 440px;
}
.window3 {
  position: absolute;
  width: 156px;
  height: 156px;
  margin-top: 1138px;
  background: white;
  border-radius: 100%;
  border: 8px solid black;
  margin-left: 765px;
}
.borderline7 {
  position: absolute;
  width: 166px;
  height: 8px;
  background: black;
  margin-top: 1219px;
  margin-left: 768px;
}
.borderline8 {
  position: absolute;
  width: 160px;
  height: 8px;
  background: black;
  margin-top: 1218px;
  margin-left: 770px;
  transform: rotate(90deg);
}
.window4 {
  position: absolute;
  width: 171px;
  height: 167px;
  background: #FFFFFF;
  border: 8px solid black;
  margin-top: 1484px;
  margin-left: 627px;
  border-radius: 15%;
}
.borderline9 {
  position: absolute;
  width: 180px;
  height: 8px;
  background: black;
  margin-top: 1575px;
  margin-left: 632px;
}
.borderline10 {
  position: absolute;
  width: 170px;
  height: 8px;
  background: black;
  margin-top: 1571px;
  margin-left: 637px;
  transform: rotate(90deg);
}
.l {
  position: absolute;
  margin-top: 1227px;
  margin-left: 986px;
}
.newcircle {
  position: absolute;
  width: 77px;
  height: 77px;
  margin-top: 1546px;
  border-radius: 100%;
  border: 8px solid black;
  margin-left: 962px;
}
.wheel6 {
  position: absolute;
  width: 171px;
  height: 171px;
  background: black;
  margin-top: 1759px;
  border-radius: 100%;
  margin-left: 353px;
}
.whitewheel6 {
  position: absolute;
  width: 114px;
  height: 114px;
  background: white;
  margin-top: 1787px;
  border-radius: 100%;
  margin-left: 381px;
}
.blackwheel6 {
  position: absolute;
  width: 42px;
  height: 42px;
  background: black;
  margin-top: 1823px;
  border-radius: 100%;
  margin-left: 416px;
}
.wheel7 {
  position: absolute;
  width: 171px;
  height: 171px;
  background: black;
  margin-top: 1759px;
  border-radius: 100%;
  margin-left: 583px;
}
.whitewheel7 {
  position: absolute;
  width: 114px;
  height: 114px;
  background: white;
  margin-top: 1787px;
  border-radius: 100%;
  margin-left: 611px;
}
.blackwheel7 {
  position: absolute;
  width: 42px;
  height: 42px;
  background: black;
  margin-top: 1823px;
  border-radius: 100%;
  margin-left: 647px;
}
.wheel8 {
  position: absolute;
  width: 171px;
  height: 171px;
  background: black;
  margin-top: 1759px;
  border-radius: 100%;
  margin-left: 817px;
}
.whitewheel8 {
  position: absolute;
  width: 114px;
  height: 114px;
  background: white;
  margin-top: 1787px;
  border-radius: 100%;
  margin-left: 846px;
}
.blackwheel8 {
  position: absolute;
  width: 42px;
  height: 42px;
  background: black;
  margin-top: 1823px;
  border-radius: 100%;
  margin-left: 881px;
}
.wheel9 {
  position: absolute;
  width: 171px;
  height: 171px;
  background: black;
  margin-top: 1759px;
  border-radius: 100%;
  margin-left: 1042px;
}
.whitewheel9 {
  position: absolute;
  width: 114px;
  height: 114px;
  background: white;
  margin-top: 1787px;
  border-radius: 100%;
  margin-left: 1070px;
}
.blackwheel9 {
  position: absolute;
  width: 42px;
  height: 42px;
  background: black;
  margin-top: 1823px;
  border-radius: 100%;
  margin-left: 1106px;
}
.wheel10 {
  position: absolute;
  width: 171px;
  height: 171px;
  background: black;
  margin-top: 1759px;
  border-radius: 100%;
  margin-left: 1267px;
}
.whitewheel10 {
  position: absolute;
  width: 114px;
  height: 114px;
  background: white;
  margin-top: 1787px;
  border-radius: 100%;
  margin-left: 1295px;
}
.blackwheel10 {
  position: absolute;
  width: 42px;
  height: 42px;
  background: black;
  margin-top: 1823px;
  border-radius: 100%;
  margin-left: 1330px;
}
.borderbottom11 {
  position: absolute;
  width: 93px;
  height: 8px;
  margin-top: 1927px;
  background: black;
}
.borderbottom12 {
  position: absolute;
  width: 93px;
  height: 8px;
  background: black;
  margin-top: 1927px;
  margin-left: 142px;
}
.borderbottom13 {
  position: absolute;
  width: 93px;
  height: 8px;
  background: black;
  margin-top: 1927px;
  margin-left: 285px;
}
.borderbottom14 {
  position: absolute;
  width: 93px;
  height: 8px;
  background: black;
  margin-top: 1927px;
  margin-left: 438px;
}
.borderbottom15 {
  position: absolute;
  width: 93px;
  height: 8px;
  background: black;
  margin-top: 1927px;
  margin-left: 593px;
}
.borderbottom16 {
  position: absolute;
  width: 93px;
  height: 8px;
  background: black;
  margin-top: 1927px;
  margin-left: 744px;
}
.borderbottom17 {
  position: absolute;
  width: 93px;
  height: 8px;
  background: black;
  margin-top: 1927px;
  margin-left: 897px;
}
.borderbottom18 {
  position: absolute;
  width: 93px;
  height: 8px;
  background: black;
  margin-top: 1927px;
  margin-left: 1061px;
}
.borderbottom19 {
  position: absolute;
  width: 93px;
  height: 8px;
  background: black;
  margin-top: 1927px;
  margin-left: 1211px;
}
.borderbottom20 {
  position: absolute;
  width: 16px;
  height: 8px;
  background: black;
  margin-top: 1927px;
  margin-left: 1202px;
}
.borderbottom21 {
  position: absolute;
  width: 93px;
  height: 8px;
  background: black;
  margin-top: 1927px;
  margin-left: 1350px;
}
.seven2 {
  width: 1158px;
  height: 1077px;
  background: white;
  margin-top: 100px;
  border: 8px solid black;
  margin-left: 140px;
}
.seven3 {
  width: 1158px;
  height: 81px;
  background: #7CA4E2;
  border: 8px solid black;
  margin-top: -1093px;
  margin-left: 140px;
}
.seven21 {
  width: 35px;
  height: 35px;
  background: #7CA4E2;
  margin-top: -70px;
  border: 4px solid black;
  border-radius: 100%;
  margin-left: 183px;
  z-index: 2;
}
.seven22 {
  width: 54px;
  height: 4px;
  background: black;
  margin-top: -23px;
  margin-left: 178px;
  z-index: 2;
}
.seven23 {
  margin-top: -18px;
  margin-left: 254px;
  z-index: 2;
}
.seven24 {
  margin-top: -34px;
  margin-left: 1203px;
  z-index: 2;
}
.seven25 {
  margin-top: 90px;
  margin-left: 211px;
  z-index: 2;
}
.seven26 {
  width: 1158px;
  height: 81px;
  background: #7CA4E2;
  border: 8px solid black;
  margin-top: 35px;
  margin-left: 140px;
}
.seven27 {
  margin-top: -160px;
  margin-left: 49px;
  z-index: 2;
}
.seven10 {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-top: 2084px;
  margin-left: 224px;
}
.nine {
  margin-top: 97px;
  margin-left: 137px;
}
.nine1 {
  margin-top: 97px;
  margin-left: 222px;
}
.nine2 {
  margin-top: 97px;
  margin-left: 172px;
}
.ten {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-left: 318px;
  margin-top: 144px;
}
.eleven {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-left: 245px;
  margin-top: 144px;
}
.eleven1 {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-left: 260px;
  margin-top: 644px;
}
.twelve1 {
  width: 1055px;
  height: 68px;
  background: #FA4A20;
  border: 8px solid black;
  margin-top: 110px;
  margin-left: 195px;
}
.twelve {
  width: 1055px;
  height: 1054px;
  background: white;
  border: 8px solid black;
  margin-top: -9px;
  margin-left: 195px;
}
.twelve2 {
  width: 1064px;
  height: 8px;
  background: black;
  margin-top: -876px;
  margin-left: 195px;
  z-index: 1;
}
.twelve3 {
  position: absolute;
  width: 588px;
  height: 8px;
  background: #FA552D;
  z-index: 1;
  transform: rotate(90deg);
  margin-top: 423px;
  margin-left: -5px;
}
.twelve4 {
  position: absolute;
  width: 53px;
  height: 53px;
  background: #FFFFFF;
  z-index: 2;
  border: 4px solid black;
  border-radius: 100%;
  margin-top: 110px;
  margin-left: 260px;
}
.twelve5 {
  position: absolute;
  width: 53px;
  height: 53px;
  background: white;
  z-index: 2;
  border: 4px solid black;
  border-radius: 100%;
  margin-top: 225px;
  margin-left: 260px;
}
.twelve6 {
  position: absolute;
  width: 53px;
  height: 53px;
  background: white;
  z-index: 2;
  border: 4px solid black;
  border-radius: 100%;
  margin-top: 340px;
  margin-left: 260px;
}
.twelve7 {
  position: absolute;
  width: 53px;
  height: 53px;
  background: white;
  z-index: 2;
  border: 4px solid black;
  border-radius: 100%;
  margin-top: 455px;
  margin-left: 260px;
}
.twelve8 {
  position: absolute;
  width: 53px;
  height: 53px;
  background: white;
  z-index: 2;
  border: 4px solid black;
  border-radius: 100%;
  margin-top: 570px;
  margin-left: 260px;
}
.twelve9 {
  position: absolute;
  width: 53px;
  height: 53px;
  background: white;
  z-index: 2;
  border: 4px solid black;
  border-radius: 100%;
  margin-top: 685px;
  margin-left: 260px;
}
.centralline{
  position: absolute;
  margin-top: -150px;
  margin-left: 270px;
}
.eastbound{
  position: absolute;
  margin-top: -100px;
  margin-left: 270px;
}
.tottenham{
  position: absolute;
  font-family: "BitumLight";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  margin-left: 350px;
  margin-top: 120px;
}
.holborn{
  position: absolute;
  font-family: "BitumLightItalic";
  font-style: italic;
  font-weight: normal;
  font-size: 40px;
  margin-left: 350px;
  margin-top: 235px;
}
.chancery{
  position: absolute;
  margin-left: 350px;
  margin-top: 350px;
}
.paul{
  position: absolute;
  margin-left: 350px;
  margin-top: 465px;
}
.liverpool{
  position: absolute;
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-left: 350px;
  margin-top: 580px;
}
.bethnal{
  position: absolute;
  font-family: "BitumBoldItalic";
  font-style: italic;
  font-weight: normal;
  font-size: 40px;
  margin-left: 350px;
  margin-top: 695px;
}
.thirteen {
  width: 1440px;
  height: 8px;
  background: black;
  margin-top: 1086px;
}
.thirteen1 {
  width: 1440px;
  height: 8px;
  background: black;
  margin-top: 42px;
}
.thirteen2 {
  width: 1440px;
  height: 8px;
  background: black;
  margin-top: 517px;
}
.thirteen3 {
  width: 1440px;
  height: 8px;
  background: black;
  margin-top: 42px;
}
.thirteen4 {
  width: 137px;
  height: 845px;
  background: white;
  border: 8px solid black;
  margin-top: -740px;
  margin-left: 99px;
}
.thirteen5 {
  width: 137px;
  height: 845px;
  background: #7CA4E2;
  border: 8px solid black;
  margin-top: -861px;
  margin-left: 317px;
}
.thirteen6 {
  width: 137px;
  height: 845px;
  background: #FA4A20;
  border: 8px solid black;
  margin-top: -861px;
  margin-left: 533px;
}
.thirteen7 {
  width: 137px;
  height: 845px;
  background: white;
  border: 8px solid black;
  margin-top: -861px;
  margin-left: 758px;
}
.thirteen8 {
  width: 137px;
  height: 845px;
  background: #7CA4E2;
  border: 8px solid black;
  margin-top: -861px;
  margin-left: 976px;
}
.thirteen9 {
  width: 137px;
  height: 845px;
  background: #FA4A20;
  border: 8px solid black;
  margin-top: -861px;
  margin-left: 1193px;
}
.thirteen10 {
  font-family: "BitumBold";
  font-style: italic;
  font-weight: 700;
  font-size: 120px;
  color: #7CA4E2;
  margin-left: -1088px;
  margin-top: 430px;
  transform: rotate(90deg);
}
.thirteen11 {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  color: white;
  margin-left: -658px;
  margin-top: -320px;
  transform: rotate(90deg);
}
.thirteen12 {
  margin-left: 566px;
  margin-top: -1100px;
}
.thirteen13 {
  margin-left: 789px;
  margin-top: -655px;
}
.thirteen14 {
  font-family: "BitumLightItalic";
  font-style: italic;
  font-weight: normal;
  font-size: 120px;
  color: white;
  margin-left: 666px;
  margin-top: -320px;
  transform: rotate(90deg);
}
.thirteen15 {
  font-family: "BitumLightItalic";
  font-style: normal;
  font-weight: 300;
  font-size: 120px;
  color: white;
  margin-left: 1096px;
  margin-top: -340px;
  transform: rotate(90deg);
}
.fourteen {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-left: 319px;
  margin-top: 20px;
}
.fifteen {
  position: absolute;
  margin-top: 97px;
  margin-left: 97px;
}
.fifteen1 {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background: #F8E53E;
  border: 8px solid black;
  margin-top: 546px;
  margin-left: 300px;
}
.fifteen2 {
  position: absolute;
  margin-top: 529px;
  margin-left: 212px;
}
.fifteen3 {
  position: absolute;
  width: 99px;
  height: 99px;
  border-radius: 100%;
  background: black;
  border: 8px solid black;
  margin-top: 164px;
  margin-left: 247px;
}
.fifteen4 {
  position: absolute;
  width: 99px;
  height: 99px;
  border-radius: 100%;
  background: #FA4A20;
  border: 8px solid black;
  margin-top: 164px;
  margin-left: 393px;
}
.fifteen5 {
  position: absolute;
  width: 454px;
  height: 198px;
  background: black;
  margin-top: 305px;
  margin-left: 150px;
}
.fifteen6 {
  position: absolute;
  margin-top: 328px;
  margin-left: 184px;
}
.fifteen7 {
  position: absolute;
  margin-top: 381px;
  margin-left: 184px;
}
.sixteen {
  margin-top: 95px;
  margin-left: 777px;
}
.sixteen1 {
  position: absolute;
  width: 99px;
  height: 99px;
  border-radius: 100%;
  background: black;
  border: 8px solid black;
  margin-top: -678px;
  margin-left: 927px;
}
.sixteen2 {
  position: absolute;
  width: 99px;
  height: 99px;
  border-radius: 100%;
  background: #FA4A20;
  border: 8px solid black;
  margin-top: -678px;
  margin-left: 1073px;
}
.sixteen3 {
  position: absolute;
  width: 454px;
  height: 198px;
  background: black;
  margin-top: -536px;
  margin-left: 831px;
}
.sixteen4 {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background: #F8E53E;
  border: 8px solid black;
  margin-top: -296px;
  margin-left: 979px;
}
.sixteen5 {
  position: absolute;
  margin-top: -312px;
  margin-left: 890px;
}
.sixteen6 {
  position: absolute;
  margin-top: -513px;
  margin-left: 866px;
}
.sixteen7 {
  position: absolute;
  margin-top: -458px;
  margin-left: 866px;
}
.seventeen {
  position: absolute;
  width: 380px;
  height: 606px;
  background: white;
  border: 8px solid black;
  margin-top: 102px;
  margin-left: 92px;
}
.seventeen1 {
  position: absolute;
  width: 313px;
  height: 540px;
  background: #7CA4E2;
  border: 8px solid black;
  margin-top: 134px;
  margin-left: 125px;
}
.seventeen2 {
  position: absolute;
  margin-top: 185px;
  margin-left: 237px;
}
.seventeen3 {
  position: absolute;
  margin-top: 302px;
  margin-left: 220px;
}
.seventeen4 {
  position: absolute;
  margin-top: 503px;
  margin-left: 190px;
}
.eighteen {
  position: absolute;
  width: 380px;
  height: 606px;
  background: white;
  border: 8px solid black;
  margin-top: 102px;
  margin-left: 526px;
}
.eighteen1 {
  position: absolute;
  margin-top: 160px;
  margin-left: 536px;
}
.eighteen2 {
  position: absolute;
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 66px;
  color: black;
  margin-left: 576px;
  margin-top: 485px;
}
.eighteen3 {
  position: absolute;
  margin-top: 588px;
  margin-left: 642px;
}
.nineteen {
  position: absolute;
  width: 380px;
  height: 606px;
  background: white;
  border: 8px solid black;
  margin-top: 102px;
  margin-left: 964px;
}
.nineteen1 {
  position: absolute;
  width: 313px;
  height: 540px;
  background: #FA4A20;
  border: 8px solid black;
  margin-top: 134px;
  margin-left: 997px;
}
.nineteen2 {
  position: absolute;
  margin-top: 185px;
  margin-left: 1116px;
}
.nineteen3 {
  position: absolute;
  margin-top: 290px;
  margin-left: 1069px;
}
.nineteen4 {
  position: absolute;
  margin-top: 517px;
  margin-left: 1040px;
}
.twenty {
  margin-top: 770px;
  margin-left: 94px;
}
.twenty1 {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-top: -350px;
  margin-left: 455px;
}
.twenty2 {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-top: 23px;
  margin-left: 455px;
}
.twenty3 {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  margin-top: 25px;
  margin-left: 455px;
}
.twentyone {
  margin-top: 177px;
  margin-left: 94px;
}
.twentytwo {
  margin-top: -262px;
  margin-left: 424px;
}
.twentythree {
  margin-top: -262px;
  margin-left: 764px;
}
.twentyfour {
  margin-top: -262px;
  margin-left: 1098px;
}
.twentyfive {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 158px;
  margin-left: 132px;
  margin-top: 87px;
}
.twentysix {
  margin-top: 87px;
  margin-left: 95px;
}
.twentysix1 {
  width: 146px;
  height: 16px;
  background: #FA4A20;
  transform: rotate(45deg);
  margin-top: -121px;
  margin-left: 140px;
}
.twentyseven {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  margin-left: 322px;
  margin-top: -65px;
}
.twentyeight {
  margin-top: 167px;
  margin-left: 100px;
}
.twentyeight2 {
  width: 575px;
  height: 590px;
  background: #7CA4E2;
  border: 8px solid black;
  margin-top: -605px;
  margin-left: 758px;
}
.twentyeight3 {
  width: 490px;
  height: 492px;
  background: #7CA4E2;
  border: 23px solid white;
  margin-top: -577px;
  margin-left: 786px;
}
.twentyeight4 {
  margin-top: -532px;
  margin-left: 837px;
}
.twentynine {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  margin-left: 242px;
  margin-top: -236px;
}
.thirty {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  margin-left: 322px;
  margin-top: 27px;
}
.thirtyone {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  margin-left: 265px;
  margin-top: 27px;
}
.thirtytwo {
  margin-top: -528px;
  margin-left: 630px;
}
.thirtythree {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: white;
  margin-left: 872px;
  margin-top: 430px;
}
.thirtyfour {
  width: 1440px;
  height: 8px;
  background: black;
  margin-top: 230px;
}
.thirtyfour1 {
  width: 24px;
  height: 109px;
  background: black;
  margin-left: 266px;
}
.thirtyfour2 {
  width: 24px;
  height: 109px;
  background: black;
  margin-left: 1149px;
  margin-top: -110px;
}
.thirtyfour3 {
  width: 627px;
  height: 35px;
  background: #7CA4E2;
  margin-left: 104px;
  border: 8px solid black;
}
.thirtyfour4 {
  width: 617px;
  height: 35px;
  background: #FA4A20;
  margin-left: 711px;
  border: 8px solid black;
  margin-top: -51px;
}
.thirtyfour5 {
  width: 1224px;
  height: 457px;
  background: white;
  margin-left: 104px;
  border: 8px solid black;
  margin-top: -8px;
}
.thirtyfour6 {
  width: 8px;
  height: 464px;
  background: black;
  margin-top: -468px;
  margin-left: 711px;
}
.victorialine  {
  margin-top: -407px;
  margin-left: 159px;
}
.bakerlooline  {
  margin-top: -40px;
  margin-left: 971px;
}
.southboundplatform  {
  margin-top: 60px;
  margin-left: 159px;
}
.northboundplatform{
  margin-top: -165px;
  margin-left: 851px;
}
.arrow {
  margin-top: 40px;
  margin-left: 159px;
}
.arrow2 {
  margin-top: -60px;
  margin-left: 1201px;
}
.thirtyfive {
  margin-top: 147px;
  margin-left: 127px;
}
.thirtysix {
  width: 1440px;
  height: 8px;
  background: black;
  margin-top: 90px;
}
.thirtyseven {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  margin-left: 66px;
  margin-top: 100px;
}
.thirtyeight {
  font-family: "BitumBold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  margin-left: 66px;
  margin-top: 30px;
}
.thirtynine {
  margin-top: -150px;
  margin-left: 956px;
}
